APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_DRIVER=sqlite
DB_DATABASE=storage/database.sqlite
# Para MySQL (alternativo)
# DB_DRIVER=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=ratchet_chat
# DB_USERNAME=root
# DB_PASSWORD=

WS_HOST=127.0.0.1
WS_PORT=8080
WS_SECRET=changeme_super_secret
